body {
    background-image: url("/img/cityBG.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-bottom: 100px;
}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.brandImage {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 20px;
}

.cityImg {
    width: 200px;
    height: 170px;
}

.welcomeHeading {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.note {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 250px;
    margin-bottom: 20px;
}


/* City section */

.grid-container {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 60px;
    column-gap: 80px;
}

.grid-container>div {
    text-align: center;
    position: relative;
}

.item1 {
    width: 200px;
    background-color: black;
    color: white;
    text-align: center;
}

.userName {
    font-weight: bold;
    padding: 5px;
}

.resName {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 16px;
}

.resDesc {
    font-weight: 100;
    padding: 5px 10px;
    font-size: 13px;
}

@media screen and (max-width: 1100px) {
    .grid-container {
        grid-template-columns: auto auto auto;
        margin-top: 150px;
    }
}

@media screen and (max-width: 800px) {
    .grid-container {
        margin-top: 100px;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 520px) {
    .grid-container {
        grid-template-columns: auto;
        column-gap: 0;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .grid-container>div {
        margin-left: 15%;
        margin-right: 15%;
    }

    .welcomeHeading {
        font-size: 30px;
    }
}

@media screen and (max-width: 300px) {
    .item1 {
        margin-left: 10%;
    }

    .grid-container {
        margin-left: 0;
        margin-top: 50px;
    }
}


/* Form and footer */


/* Footer Section */

.secondMainDiv {
    padding-bottom: 200px;
    margin-left: 15%;
}

.secondMainDiv h2 {
    font-size: 50px;
    margin-bottom: 50px;
}



.secondMainDiv form label {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-align: left;
    color: white;
}

.input1 {
    width: 400px;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    margin-right: 100px;
    border: none;
    font-size: 20px;
    margin-bottom: 20px;
}

input[type=text]:focus {
    border: none;
    outline: none;
}



.submitBtn {
    font-size: 20px;
    border: 2px solid white;
    font-size: 20px;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: black;
    transition: 1s;
    color: white;
    height: 40px;
    width: 140PX;
}

#imgInput {
    font-size: 20px;
}

input[type=file]::file-selector-button {
    height: 40px;
    width: 140px;
    border: 2px solid white;
    font-size: 20px;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: black;
    transition: 1s;
    color: white;
}

input[type=file]::file-selector-button:hover, .submitBtn:hover{
    background-color: #343c3c;
    border: 2px solid #687979;
}

@media screen and (max-width: 860px) {
    .secondMainDiv {
        display: flex;
        flex-direction: column;
    }

    .secondMainDiv form {
        display: flex;
        flex-direction: column;
    }
}